input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent; /*Keep your transparent background */
  /* border: 1px solid #00bcd4; Example border, adjust to your preference */
  padding: 0.5rem; /* Adjust padding */
  border-radius: 0.5rem; /* Adjust border radius */
  /* width: 100%; */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: red;
  background-color: #164e63;
  border: 1px solid #164e63;
  border-radius: 100%;
  /* width:120px */
  /* opacity: 0.6; */
}

input[type="date"]:focus {
  outline: none;
  border-color: #00bcd4;
}
